__pycache__/
*.pyc
experiments/EXP-00X/exp-00x-awake-the-monster/*.exe
# EXP-00X — Vídeos pesados y fuentes conceptuales
experiments/EXP-00X/exp-00x-awake-the-monster/Assets/video/*.mp4
experiments/EXP-00X/exp-00x-awake-the-monster/Assets/videos/*.ogv
experiments/EXP-00X/exp-00x-awake-the-monster/WEB5 BUILD/game/index.pck
experiments/EXP-00X/exp-00x-awake-the-monster/WEB5 BUILD/game.zip